/* ---- Navbar ---- */
#collapsibleNavbar .nav .nav-item a {
    color: #ffffff;
}

#collapsibleNavbar ul {
    margin-right: 5%;
}

#collapsibleNavbar .navbar-nav .nav-link {
    padding-right: 3em;
    padding-left: 3em;
}

/* ---- Buttons ---- */
.btn {
    border-radius: 2em;
    padding: 0.4em 2em 0.4em 2em;
    margin-left: 3em;
    margin-right: 3em;
}

